body {
    margin: 0;
}

.header {
    margin-top: 0;
    width: 100%;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    height: 130px;
    padding: 0;
    
    

}
.header img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    
}
.header h1 {
    color: rgb(255, 255, 255);
    margin-left: 40px;
    float: left;
}
.header h3 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -170px;
    margin-top: 80px;
    float: left;

}
.footer h3 {
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: red;
    color: #ffffff;
    bottom: 0;
    margin: 0;
}